In [1]:
import pandas as pd

In [2]:
dataTrain = pd.read_csv('trainData.csv')

In [3]:
dataTrain['alpha'] = ['a']*dataTrain.shape[0]

In [4]:
import numpy as np
dataTrain.loc[:,'label'] = np.where(dataTrain.Class == 'Insult', 1, 0)

In [5]:
dataTrain.head()

                                             Comment       Class alpha  label
0                               "You fuck your dad."      Insult     a      1
1  "i really don't understand your point.\xa0 It ...  Not Insult     a      0
2  "A\\xc2\\xa0majority of Canadians can and has ...  Not Insult     a      0
3  "listen if you dont wanna get married to a man...  Not Insult     a      0
4  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...  Not Insult     a      0

In [6]:
dataTrain[['label','alpha','Comment']].to_csv('train.tsv',sep='\t')

In [7]:
a = pd.read_csv('train.tsv', sep='\t')

In [8]:
a.shape

(3947, 4)

In [9]:
a.head()

   Unnamed: 0  label alpha                                            Comment
0           0      1     a                               "You fuck your dad."
1           1      0     a  "i really don't understand your point.\xa0 It ...
2           2      0     a  "A\\xc2\\xa0majority of Canadians can and has ...
3           3      0     a  "listen if you dont wanna get married to a man...
4           4      0     a  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...

In [10]:
a.columns = ['user_id', 'label', 'alpha', 'text']

In [11]:
a.to_csv('train.tsv',sep='\t', index=False, header=False)

In [12]:
a.head()

   user_id  label alpha                                               text
0        0      1     a                               "You fuck your dad."
1        1      0     a  "i really don't understand your point.\xa0 It ...
2        2      0     a  "A\\xc2\\xa0majority of Canadians can and has ...
3        3      0     a  "listen if you dont wanna get married to a man...
4        4      0     a  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...

In [13]:
b = pd.read_csv('train.tsv', sep='\t')

In [14]:
b.head()

   0  1  a                               "You fuck your dad."
0  1  0  a  "i really don't understand your point.\xa0 It ...
1  2  0  a  "A\\xc2\\xa0majority of Canadians can and has ...
2  3  0  a  "listen if you dont wanna get married to a man...
3  4  0  a  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...
4  5  0  a  "@SDL OK, but I would hope they'd sign him to ...

In [14]:
dataTest = pd.read_csv('testData.csv')

In [15]:
dataTest.head()

                                             Comment       Class
0                 "like this if you are a tribe fan"  Not Insult
1              "you're idiot......................."      Insult
2  "I am a woman Babs, and the only "war on women...      Insult
3  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...      Insult
4  "haha green me red you now loser whos winning ...      Insult

In [16]:
dataTest['alpha'] = ['a'] * dataTest.shape[0]

In [17]:
import numpy as np
dataTest.loc[:,'label'] = np.where(dataTest.Class == 'Insult', 1, 0)

In [18]:
dataTest.head()

                                             Comment       Class alpha  label
0                 "like this if you are a tribe fan"  Not Insult     a      0
1              "you're idiot......................."      Insult     a      1
2  "I am a woman Babs, and the only "war on women...      Insult     a      1
3  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...      Insult     a      1
4  "haha green me red you now loser whos winning ...      Insult     a      1

In [19]:
dataTest[['label','alpha','Comment']].to_csv('test.tsv',sep='\t')

In [20]:
b = pd.read_csv('test.tsv', sep='\t')

In [21]:
b.shape

(2235, 4)

In [22]:
b.head()

   Unnamed: 0  label alpha                                            Comment
0           0      0     a                 "like this if you are a tribe fan"
1           1      1     a              "you're idiot......................."
2           2      1     a  "I am a woman Babs, and the only "war on women...
3           3      1     a  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...
4           4      1     a  "haha green me red you now loser whos winning ...

In [23]:
b.columns = ['user_id', 'label', 'alpha', 'text']

In [25]:
b[['user_id','text']].to_csv('test.tsv',sep='\t', index=False, header=False)

In [26]:
b.head()

   user_id  label alpha                                               text
0        0      0     a                 "like this if you are a tribe fan"
1        1      1     a              "you're idiot......................."
2        2      1     a  "I am a woman Babs, and the only "war on women...
3        3      1     a  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...
4        4      1     a  "haha green me red you now loser whos winning ...

In [15]:
testTsv = pd.read_csv('test.tsv', sep='\t')

In [16]:
testTsv.head()

   0                 "like this if you are a tribe fan"
0  1              "you're idiot......................."
1  2  "I am a woman Babs, and the only "war on women...
2  3  "WOW & YOU BENEFITTED SO MANY WINS THIS YEAR F...
3  4  "haha green me red you now loser whos winning ...
4  5  "\nMe and God both hate-faggots.\n\nWhat's the...

In [1]:
import pandas as pd

In [17]:
dataValid = pd.read_csv('valid.csv')

In [18]:
dataValid['alpha'] = ['a']*dataValid.shape[0]

In [19]:
import numpy as np
dataValid.loc[:,'label'] = np.where(dataValid.Class == 'Insult', 1, 0)

In [20]:
dataValid.head()

                                             Comment       Class alpha  label
0  "THE DRUDGE REPORT\\n\\n\\n\\nYou won't see th...  Not Insult     a      0
1  "@ian21\xa0"Roger Clemens is the fucking man, ...  Not Insult     a      0
2  "Agree with Alan you are an extremest idiot.  ...      Insult     a      1
3  "Really?\\n\\nI see Marc Lamont Hill on variou...  Not Insult     a      0
4  "Really suck isn't the word, when many of our ...  Not Insult     a      0

In [21]:
dataValid[['label','alpha','Comment']].to_csv('dev.tsv',sep='\t')

In [22]:
c = pd.read_csv('dev.tsv', sep='\t')

In [23]:
c.shape

(2647, 4)

In [24]:
c.head()

   Unnamed: 0  label alpha                                            Comment
0           0      0     a  "THE DRUDGE REPORT\\n\\n\\n\\nYou won't see th...
1           1      0     a  "@ian21\xa0"Roger Clemens is the fucking man, ...
2           2      1     a  "Agree with Alan you are an extremest idiot.  ...
3           3      0     a  "Really?\\n\\nI see Marc Lamont Hill on variou...
4           4      0     a  "Really suck isn't the word, when many of our ...

In [25]:
c.columns = ['user_id', 'label', 'alpha', 'text']

In [26]:
c.to_csv('dev.tsv',sep='\t', index=False, header=False)

In [27]:
c.head()

   user_id  label alpha                                               text
0        0      0     a  "THE DRUDGE REPORT\\n\\n\\n\\nYou won't see th...
1        1      0     a  "@ian21\xa0"Roger Clemens is the fucking man, ...
2        2      1     a  "Agree with Alan you are an extremest idiot.  ...
3        3      0     a  "Really?\\n\\nI see Marc Lamont Hill on variou...
4        4      0     a  "Really suck isn't the word, when many of our ...